{% include 'layout/terminal_output.html' %}
{% block output %}
<div class="mb-4">
  <p class="text-xl font-bold text-cyan-400">Profil Diri</p>
  <div class="border-l-2 border-cyan-400 pl-4 mt-2">
    <p><span class="font-semibold text-fuchsia-400">Nama Lengkap:</span> Ismail Satrio</p>
    <p><span class="font-semibold text-fuchsia-400">Program Studi:</span> Teknik Informatika</p>
    <p><span class="font-semibold text-fuchsia-400">Minat Utama:</span> Pengembangan Perangkat Lunak (Backend Development) dan Keamanan Siber (Cyber Security)</p>
  </div>
</div>
{% endblock output %}