{% include 'layout/terminal_output.html' %}
{% block output %}
    <div>
        <p>
            Halo! Saya Satrio, seorang <span class="text-yellow">Full-Stack Developer</span> yang bersemangat dalam membangun solusi digital dari hulu ke hilir.
        </p>
        <p>
            Saya menikmati seluruh proses pengembangan, mulai dari merancang API yang efisien di sisi backend hingga menciptakan antarmuka pengguna yang interaktif di sisi frontend.
        </p>
        <br>
        <p>Teknologi yang saya kuasai:</p>
        <p>
            > <span class="text-green">Backend:</span> Go (Fiber), Python (FastAPI)
        </p>
        <p>
            > <span class="text-green">Frontend:</span> HTMX, Hyperscript, Tailwind CSS, HTML
        </p>
        <p>
            > <span class="text-green">Tools & Lainnya:</span> Linux, Git
        </p>
        <br>
        <p>PS: Untuk Git, saya lebih sering menggunakan GUI. 😉</p>
    </div>
{% endblock output %}
