{% include 'layout/terminal_output.html' %}
{% block output %}
<div>
    <p>Mari terhubung! Saya selalu terbuka untuk diskusi, kolaborasi, atau sekadar menyapa.</p>
    <br>
    <p>
        ╭─ <span class="text-yellow">Hubungi saya melalui:</span>
    </p>
    <p>│</p>
    <p>
        ├─ <span class="text-green">✉️ Email</span>      <a href="mailto:personal.satrio@protonmail.com"
         class="underline text-blue">personal.satrio@protonmail.com</a>
    </p>
    <p>
        ╰─ <span class="text-green">🐙 GitHub</span>     <a href="https://github.com/Satr10"
        target="_blank"
        rel="noopener noreferrer"
        class="underline text-blue">github.com/Satr10</a>
    </p>
</div>
{% endblock output %}