<div class="mb-4">
    <p class="text-xl font-bold text-cyan-400">Daftar Perintah</p>
    <div class="mt-2 grid grid-cols-[auto,1fr] gap-x-4 gap-y-1">
        <span class="text-green-400">about</span>
        <span>- Menampilkan 'Profil Diri'</span>

        <span class="text-green-400">keahlian</span>
        <span>- Menampilkan 'Keahlian & Minat'</span>

        <span class="text-green-400">pencapaian</span>
        <span>- Menampilkan 'Pencapaian'</span>

        <span class="text-green-400">projects</span>
        <span>- Menampilkan 'Dokumentasi Visual' (Proyek)</span>

        <span class="text-green-400">rencana</span>
        <span>- Menampilkan 'Rencana Pemanfaatan Teknologi'</span>

        <span class="text-green-400">help</span>
        <span>- Menampilkan daftar perintah ini</span>

        <span class="text-green-400">welcome</span>
        <span>- Menampilkan pesan selamat datang</span>

        <span class="text-green-400">clear</span>
        <span>- Membersihkan terminal</span>
    </div>
</div>