<div class="mb-4">
  <p class="text-xl font-bold text-cyan-400">Keahlian & Minat</p>
  <div class="border-l-2 border-cyan-400 pl-4 mt-2">
    <p class="mb-2">Fokus pada pengembangan sisi <em>backend</em> yang efisien dan aman menggunakan Go (Golang), dengan minat mendalam pada <em>penetration testing</em> untuk menguji dan memperkuat keamanan sistem.</p>

    <p class="font-semibold text-fuchsia-400 mt-3">Keahlian Teknis (Hard Skills):</p>
    <ul class="list-disc list-inside ml-4">
      <li><strong>Bahasa Pemrograman:</strong> Go (Golang), Python</li>
      <li><strong>Web Development:</strong> HTML, TailwindCSS, HTMX</li>
      <li><strong>Sistem Operasi:</strong> Linux</li>
      <li><strong>Tools & Lainnya:</strong> Git, GitHub, RESTful API, Docker (Dasar)</li>
    </ul>

    <p class="font-semibold text-fuchsia-400 mt-3">Keahlian Non-Teknis (Soft Skills):</p>
    <ul class="list-disc list-inside ml-4">
      <li>Pemecahan Masalah (Problem Solving)</li>
      <li>Kemampuan Belajar Mandiri (Self-Learning)</li>
      <li>Berpikir Kritis & Analitis</li>
      <li>Manajemen Waktu</li>
    </ul>
  </div>
</div>