{% include 'layout/terminal_output.html' %}
{% block output %}
    <div>
        <pre class="sm:block hidden">
███████╗ █████╗ ████████╗██████╗ ██╗ ██████╗ 
██╔════╝██╔══██╗╚══██╔══╝██╔══██╗██║██╔═══██╗
███████╗███████║   ██║   ██████╔╝██║██║   ██║
╚════██║██╔══██║   ██║   ██╔══██╗██║██║   ██║
███████║██║  ██║   ██║   ██║  ██║██║╚██████╔╝
╚══════╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚═════╝ 
                                                                                                                     
</pre>
        <p>Selamat datang di portfolio saya!</p>
    </div>
{% endblock output %}
